<a href="https://colab.research.google.com/github/KamranView/Cement-Strength-R/blob/main/test_125.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Q1**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('/content/data_for_exam.xlsx - Sheet1.csv')

df.head()

,Date received,Product,Sub-product,Consumer complaint narrative,Company public response,Company,State,ZIP code,Submitted via,Company response to consumer,Timely response?,Consumer disputed?
0,3/12/2014,Mortgage,Other mortgage,NaN,NaN,M&T BANK CORPORATION,MI,48382,Referral,Closed with explanation,Yes,No
1,1/19/2017,Student loan,Federal student loan servicing,When my loan was switched over to Navient i wa...,NaN,"Navient Solutions, LLC.",LA,NaN,Web,Closed with explanation,Yes,No
2,4/6/2018,Credit card or prepaid card,General-purpose credit card or charge card,I tried to sign up for a spending monitoring p...,NaN,CAPITAL ONE FINANCIAL CORPORATION,VA,NaN,Web,Closed with explanation,Yes,NaN
3,6/8/2014,Credit card,NaN,NaN,NaN,AMERICAN EXPRESS COMPANY,ID,83854,Web,Closed with explanation,Yes,Yes
4,9/13/2014,Debt collection,Credit card,NaN,NaN,"CITIBANK, N.A.",VA,23233,Web,Closed with explanation,Yes,Yes

In [2]:
print(df.shape)
df.info()

(99, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date received                 99 non-null     object
 1   Product                       99 non-null     object
 2   Sub-product                   86 non-null     object
 3   Consumer complaint narrative  16 non-null     object
 4   Company public response       33 non-null     object
 5   Company                       99 non-null     object
 6   State                         98 non-null     object
 7   ZIP code                      89 non-null     object
 8   Submitted via                 99 non-null     object
 9   Company response to consumer  99 non-null     object
 10  Timely response?              99 non-null     object
 11  Consumer disputed?            75 non-null     object
dtypes: object(12)
memory usage: 9.4+ KB

In [3]:
df = df.drop('Sub-product',axis=1)
df.shape

(99, 11)

In [4]:
df['Consumer disputed?'].value_counts()

No     56
Yes    19
Name: Consumer disputed?, dtype: int64

In [5]:
df = df[df['Consumer disputed?'].notna()]
df.shape

(75, 11)

In [6]:
df['Consumer disputed?'] = np.where(df['Consumer disputed?']== 'Yes', 1, 0)
df['Consumer disputed?'].value_counts()

0    56
1    19
Name: Consumer disputed?, dtype: int64

In [7]:
column_list = [a for a in df]
# Column Name , Unique Value , Count of Nulls

for col in df.select_dtypes(['object']).columns:
    print(col,':',df[col].nunique(),':',df[col].isna().sum())

Date received : 74 : 0
Product : 8 : 0
Consumer complaint narrative : 5 : 70
Company public response : 4 : 56
Company : 41 : 0
State : 31 : 0
ZIP code : 73 : 2
Submitted via : 5 : 0
Company response to consumer : 5 : 0
Timely response? : 1 : 0

In [8]:
df.replace("?", np.nan, inplace = True)
df.head(5)

,Date received,Product,Consumer complaint narrative,Company public response,Company,State,ZIP code,Submitted via,Company response to consumer,Timely response?,Consumer disputed?
0,3/12/2014,Mortgage,NaN,NaN,M&T BANK CORPORATION,MI,48382,Referral,Closed with explanation,Yes,0
1,1/19/2017,Student loan,When my loan was switched over to Navient i wa...,NaN,"Navient Solutions, LLC.",LA,NaN,Web,Closed with explanation,Yes,0
3,6/8/2014,Credit card,NaN,NaN,AMERICAN EXPRESS COMPANY,ID,83854,Web,Closed with explanation,Yes,1
4,9/13/2014,Debt collection,NaN,NaN,"CITIBANK, N.A.",VA,23233,Web,Closed with explanation,Yes,1
5,11/13/2013,Mortgage,NaN,NaN,U.S. BANCORP,MN,48322,Phone,Closed with monetary relief,Yes,0

In [9]:
missing_data = df.isnull()
missing_data.head(5)

,Date received,Product,Consumer complaint narrative,Company public response,Company,State,ZIP code,Submitted via,Company response to consumer,Timely response?,Consumer disputed?
0,False,False,True,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,True,False,False,False,False
3,False,False,True,True,False,False,False,False,False,False,False
4,False,False,True,True,False,False,False,False,False,False,False
5,False,False,True,True,False,False,False,False,False,False,False

In [10]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Date received
False    75
Name: Date received, dtype: int64

Product
False    75
Name: Product, dtype: int64

Consumer complaint narrative
True     70
False     5
Name: Consumer complaint narrative, dtype: int64

Company public response
True     56
False    19
Name: Company public response, dtype: int64

Company
False    75
Name: Company, dtype: int64

State
False    75
Name: State, dtype: int64

ZIP code
False    73
True      2
Name: ZIP code, dtype: int64

Submitted via
False    75
Name: Submitted via, dtype: int64

Company response to consumer
False    75
Name: Company response to consumer, dtype: int64

Timely response?
False    75
Name: Timely response?, dtype: int64

Consumer disputed?
False    75
Name: Consumer disputed?, dtype: int64

In [11]:
# Drop irrelevant columns
columns_to_drop = ['Company public response', 'Submitted via', 'Company response to consumer', 'Timely response?', 'Consumer disputed?']
df = df.drop(columns=columns_to_drop)

# Drop rows with missing Consumer complaint narrative
df = df.dropna(subset=['Consumer complaint narrative'])

# Convert 'Date received' column to datetime format
df['Date received'] = pd.to_datetime(df['Date received'])

# Extract year and month from 'Date received'
df['Year'] = df['Date received'].dt.year
df['Month'] = df['Date received'].dt.month

In [12]:
# Perform text preprocessing on 'Consumer complaint narrative'
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

nltk.download('stopwords')
nltk.download('punkt')

def preprocess_text(text):
    text = text.lower()  # Convert to lowercase
    text = re.sub(r'[^\w\s]', '', text)  # Remove punctuation
    words = word_tokenize(text)  # Tokenize text
    words = [word for word in words if word not in stopwords.words('english')]  # Remove stopwords
    return ' '.join(words)

df['Cleaned narrative'] = df['Consumer complaint narrative'].apply(preprocess_text)

# Group by Year and Month, count complaints, and show top words
grouped = df.groupby(['Year', 'Month']).size().reset_index(name='Complaints Count')
print(grouped)

# Save the refined data
df.to_csv('refined_consumer_complaints.csv', index=False)

   Year  Month  Complaints Count
0  2016      7                 1
1  2016      9                 1
2  2016     11                 1
3  2017      1                 1
4  2017      4                 1

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [13]:
pip install pandas nltk

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2023.6.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.66.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

***Q2***

In [21]:
import pandas as pd

# Load the dataset
df = pd.read_csv("/content/data_for_exam.xlsx - Sheet1.csv")
df.head()

,Date received,Product,Sub-product,Consumer complaint narrative,Company public response,Company,State,ZIP code,Submitted via,Company response to consumer,Timely response?,Consumer disputed?
0,3/12/2014,Mortgage,Other mortgage,NaN,NaN,M&T BANK CORPORATION,MI,48382,Referral,Closed with explanation,Yes,No
1,1/19/2017,Student loan,Federal student loan servicing,When my loan was switched over to Navient i wa...,NaN,"Navient Solutions, LLC.",LA,NaN,Web,Closed with explanation,Yes,No
2,4/6/2018,Credit card or prepaid card,General-purpose credit card or charge card,I tried to sign up for a spending monitoring p...,NaN,CAPITAL ONE FINANCIAL CORPORATION,VA,NaN,Web,Closed with explanation,Yes,NaN
3,6/8/2014,Credit card,NaN,NaN,NaN,AMERICAN EXPRESS COMPANY,ID,83854,Web,Closed with explanation,Yes,Yes
4,9/13/2014,Debt collection,Credit card,NaN,NaN,"CITIBANK, N.A.",VA,23233,Web,Closed with explanation,Yes,Yes

In [23]:
print(df.columns)

Index(['Date received', 'Product', 'Sub-product',
       'Consumer complaint narrative', 'Company public response', 'Company',
       'State', 'ZIP code', 'Submitted via', 'Company response to consumer',
       'Timely response?', 'Consumer disputed?'],
      dtype='object')

In [15]:
# Display basic information about the dataset
print(df.info())

# Display summary statistics
print(df.describe())

# Display the first few rows of the dataset
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date received                 99 non-null     object
 1   Product                       99 non-null     object
 2   Sub-product                   86 non-null     object
 3   Consumer complaint narrative  16 non-null     object
 4   Company public response       33 non-null     object
 5   Company                       99 non-null     object
 6   State                         98 non-null     object
 7   ZIP code                      89 non-null     object
 8   Submitted via                 99 non-null     object
 9   Company response to consumer  99 non-null     object
 10  Timely response?              99 non-null     object
 11  Consumer disputed?            75 non-null     object
dtypes: object(12)
memory usage: 9.4+ KB
None
       Date received   Product     Sub-product  \
count             99        99              86
unique            91        11              25
top        8/28/2018  Mortgage  Other mortgage
freq               3        36              13

                             Consumer complaint narrative  \
count                                                  16
unique                                                 16
top     When my loan was switched over to Navient i wa...
freq                                                    1

                                  Company public response  \
count                                                  33
unique                                                  5
top     Company has responded to the consumer and the ...
freq                                                   21

                                    Company State ZIP code Submitted via  \
count                                    99    98       89            99
unique                                   55    34       88             5
top     Experian Information Solutions Inc.    CA    606XX           Web
freq                                     11    15        2            72

       Company response to consumer Timely response? Consumer disputed?
count                            99               99                 75
unique                            6                1                  2
top         Closed with explanation              Yes                 No
freq                             82               99                 56
  Date received                      Product  \
0     3/12/2014                     Mortgage
1     1/19/2017                 Student loan
2      4/6/2018  Credit card or prepaid card
3      6/8/2014                  Credit card
4     9/13/2014              Debt collection

                                  Sub-product  \
0                              Other mortgage
1              Federal student loan servicing
2  General-purpose credit card or charge card
3                                         NaN
4                                 Credit card

                        Consumer complaint narrative Company public response  \
0                                                NaN                     NaN
1  When my loan was switched over to Navient i wa...                     NaN
2  I tried to sign up for a spending monitoring p...                     NaN
3                                                NaN                     NaN
4                                                NaN                     NaN

                             Company State ZIP code Submitted via  \
0               M&T BANK CORPORATION    MI    48382      Referral
1            Navient Solutions, LLC.    LA      NaN           Web
2  CAPITAL ONE FINANCIAL CORPORATION    VA      NaN           Web
3           AMERICAN EXPRESS COMPANY    ID    83854           Web
4                     CITIBANK, N.A.    VA    23233           Web

  Company response to consumer Timely response? Consumer disputed?
0      Closed with explanation              Yes                 No
1      Closed with explanation              Yes                 No
2      Closed with explanation              Yes                NaN
3      Closed with explanation              Yes                Yes
4      Closed with explanation              Yes                Yes

In [16]:
# Explore columns related to complaints and disputes
complaint_columns = ["consumer_complaint_narrative", "dispute", ...]

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Preprocessing: Handling missing values, encoding categorical variables
# ...

# Splitting data into features (X) and target (y)
X = df['Product']
y = df["Consumer disputed?"]

# Splitting data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initializing and training the Random Forest classifier
clf = RandomForestClassifier()
clf.fit(X_train, y_train)

# Making predictions
y_pred = clf.predict(X_test)

# Evaluating the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

ValueError: ignored